openapi: 3.1.0
info:
  title: Disqus Public Categories Posts API
  description: REST API for Disqus comments, threads, forums, users, and categories. Read and write operations are authenticated using an API key and secret, with OAuth 2.0 access tokens for user-context operations. All endpoints are served under https://disqus.com/api/3.0/.
  version: '3.0'
servers:
- url: https://disqus.com/api/3.0
  description: Disqus API v3.0
security:
- apiKey: []
- oauth2: []
tags:
- name: Posts
paths:
  /posts/details.json:
    get:
      tags:
      - Posts
      summary: Get post details
      operationId: postsDetails
      parameters:
      - name: post
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Post
  /posts/create.json:
    post:
      tags:
      - Posts
      summary: Create a post
      operationId: postsCreate
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Created
  /posts/list.json:
    get:
      tags:
      - Posts
      summary: List posts
      operationId: postsList
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Posts
  /posts/approve.json:
    post:
      tags:
      - Posts
      summary: Approve posts
      operationId: postsApprove
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Approved
  /posts/remove.json:
    post:
      tags:
      - Posts
      summary: Remove posts
      operationId: postsRemove
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Removed
  /posts/vote.json:
    post:
      tags:
      - Posts
      summary: Vote on a post
      operationId: postsVote
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Vote registered
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://disqus.com/api/oauth/2.0/authorize/
          tokenUrl: https://disqus.com/api/oauth/2.0/access_token/
          scopes:
            read: Read forums, threads, posts
            write: Create posts and threads
            admin: Forum administration
